@using SocialNetwork.Mvc.Extensions
@using SocialNetwork.Mvc.Utils
@using SocialNetwork.Core.Models
@model User
@{
    User usuario = Context.Session.GetObject<User>("UsuarioEnSession");
}

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-2xl">
        <h1 class="text-center text-3xl font-bold leading-9 tracking-tight text-gray-900">Datos Personales</h1>
    </div>

    <div class="sm:mx-auto sm:w-full sm:max-w-2xl mt-6">
        <div class="bg-white py-8 px-6 shadow rounded-lg sm:px-10">
            <hr class="my-4" />
            <dl class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <dt class="text-sm font-medium text-gray-900">Usuario:</dt>
                    <dd class="mt-1 text-sm text-gray-700">@usuario.Login</dd>
                </div>
                <div>
                    <dt class="text-sm font-medium text-gray-900">Contraseña:</dt>
                    <dd class="mt-1 text-sm text-gray-700">
                        <div class="flex items-center">
                            <input id="passwordField" type="password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6" value="@usuario.Password" disabled />
                            <button id="togglePassword" type="button" class="ml-2 text-gray-500 hover:text-gray-700" onclick="togglePassword()">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </dd>
                </div>
                <div>
                    <dt class="text-sm font-medium text-gray-900">Nombre:</dt>
                    <dd class="mt-1 text-sm text-gray-700">@usuario.FirstName</dd>
                </div>
                <div>
                    <dt class="text-sm font-medium text-gray-900">Apellidos:</dt>
                    <dd class="mt-1 text-sm text-gray-700">@usuario.LastName</dd>
                </div>
                <div>
                    <dt class="text-sm font-medium text-gray-900">Teléfono:</dt>
                    <dd class="mt-1 text-sm text-gray-700">@usuario.Phone</dd>
                </div>
                <div>
                    <dt class="text-sm font-medium text-gray-900">Cumpleaños:</dt>
                    <dd class="mt-1 text-sm text-gray-700">@usuario.Birthdate</dd>
                </div>
                <div>
                    <dt class="text-sm font-medium text-gray-900">Correo Electrónico:</dt>
                    <dd class="mt-1 text-sm text-gray-700">@usuario.Email</dd>
                </div>
                <div>
                    <dt class="text-sm font-medium text-gray-900">Género:</dt>
                    <dd class="mt-1 text-sm text-gray-700">
                        @{
                            string typeGenderDescription;

                            switch (usuario.TypeGenderId)
                            {
                                case (int)TypeGenderId.Male:
                                    typeGenderDescription = "Hombre";
                                    break;
                                case (int)TypeGenderId.Female:
                                    typeGenderDescription = "Mujer";
                                    break;
                                case (int)TypeGenderId.Other:
                                    typeGenderDescription = "Otro";
                                    break;
                                default:
                                    typeGenderDescription = "Desconocido";
                                    break;
                            }
                        }
                        @typeGenderDescription
                    </dd>
                </div>
            </dl>
            <div class="mt-6 flex justify-end">
                <a href="./Edit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-black hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black">
                    Editar datos
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        font-family: 'Inter', sans-serif;
        background-color: #f8f9fa;
        color: #333;
    }
</style>

@section Scripts {
    <script>
        function togglePassword() {
            var passwordField = document.getElementById("passwordField");
            var toggleButton = document.getElementById("togglePassword");

            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleButton.innerHTML = '<i class="fas fa-eye-slash"></i>';
            } else {
                passwordField.type = "password";
                toggleButton.innerHTML = '<i class="fas fa-eye"></i>';
            }
        }
    </script>
}
